hr {
  border-top: 1px solid rgb(179, 48, 48);
}
.nav-bg {
  background-color: #b33030;
}
.navLink {
  color: white;
  font-weight: 600;
}
.row-cursor {
  cursor: pointer;
}
.link-color {
  color: black;
}
.link-color:hover {
  text-decoration: none;
}
.trending-btn {
  background-color: #b33030;
  text-align: center;
  padding-block: 8px;
  margin-top: 16px;
  cursor: pointer;
}
.trending-btn a {
  color: white;
  font-size: 20px;
}
.trending-btn a:hover {
  text-decoration: none;
}
.trending-btn:hover {
  background-color: #a1b57d;
}
