hr {
  border-top: 1px solid #b33030;
}
.trending-btn {
  background-color: #b33030;
  text-align: center;
  padding-block: 8px;
  margin-top: 16px;
  cursor: pointer;
}
.trending-btn a {
  color: white;
  font-size: 20px;
}
.trending-btn a:hover {
  text-decoration: none;
}
.trending-btn:hover {
  background-color: #a1b57d;
}
